*{
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: center;
}

body {
  background-image: url(./imagens/Astronaut-planet-stars-beautiful-space_3juvb160.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header > h1 {
    padding: 25px;
    color: whitesmoke;
    font-size: 50px;
}
#logo {
  width: 150px;
  height: 150px;
}

#sobre{

  padding: 5px;
  justify-content: center;
  height: 70px;
  font-size: 40px;
}

#sobre > a {
  text-decoration: none;
  color: rgb(215, 69, 6);
}

a:visited {
  color: white;
}

#sobre > a:hover {
  color: #fffb00;
  font-size: 33px;
}
#box{
color:#021049;
}

#entrada {
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 85px;

}
#infoResultado {
padding: 30px;
}

input[type="date"] {
  color: #ffffff;
  font-size: 25px;
  border: 3px solid #ecf0f1;
  background: #04196b;
  padding: 10px;
  border-radius: 8px;
}

#botao {
  padding: 7px;
  display: flex;
  height: 90px;
  justify-content: center;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #404940;
  padding: 14px 40px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 8px;
}

button:hover {
  background-color: #ff6d00;
  color: white;
}
h1,
p {
    color: #efecea;
    font-size: 30px;
    text-align: center;
}

#titulo {
    color: #062138;
    font-family: fantasy;
    font-style: oblique;
    font-weight: 1000;
    text-shadow: 4px 4px 8px #070c9a;
}

#fotoOuVideo {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explicacao {
    color: rgb(12, 12, 12);
    text-align: justify;
    font-family: Arial Narrow, sans-serif;
}

#foto {
    width: 1000px;
    height: 1000px;
    border-radius: 10px;
}

#video {
    width: 1200px;
    height: 600px;
}
